<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Cadastro Do Estado</title>
</head>
<body>
	<form th:action="@{/salvarEstado}" method="Post" th:object="${estado}">
		<div th:if="${#fields.hasAnyErrors()}">
		<div th:each="detailedError : ${#fields.detailedErrors()}">
			<span th:text="${detailedError.message}"></span>
		</div>
		</div>

		<label>Código do Estado</label> 
		<input th:field="*{id}" readOnly="readonly" type="text" /> 
		<label>Nome do Estado: </label> 
		<input th:field="*{nome}" type="text"
			th:classappend="${#fields.hasErrors('nome')}? 'has-error'" /> 
		<label>Sigla do Estado: </label>
		<input th:field="*{sigla}" type="text" /> 
		<input type="submit" value="Salvar" />
	</form>
</body>
</html>